  <h2 class="section-title">Let's Connect</h2>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Your Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Your Email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <textarea matInput rows="3" placeholder="Say hello..."></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary">Send Message</button>
  </form>