 <div class="glass-card">
    <img src="assets/profile.jpeg" class="profile" alt="Shivani Mathur">
    <div class="about-text">
      <h2>About Me</h2>
      <p>
        I’m an <strong>AI Engineer and Java Developer</strong> with over 6 years of professional experience in Python, Java, Spring Boot, Angular, and applied Artificial Intelligence & Machine Learning.
I hold an <b>M.Tech</b> in AI & ML from <b>BITS Pilani</b> and 
an AR/VR certification from <b>IIT Delhi</b>, with a proven track record of academic and project excellence.

My expertise lies in designing, training, and integrating ML pipelines with backend applications, and crafting immersive AR/VR experiences that bridge technology and creativity.
I’m passionate about turning complex ideas into impactful, intelligent, and user-focused solutions.
      </p>
      <button mat-stroked-button color="primary">Download Resume</button>
    </div>
  </div>