/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* styles.css */


:root {
  --primary-color: #7a42f4;
  --accent-color: #ff9f1c;
  --text-light: #f4f4f4;
  --text-dark: #1a1a1a;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--text-dark);
  color: var(--text-light);
  margin: 0;
}

button {
  font-weight: 600;
  border-radius: 30px;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}
